.welcomeMessage
{
  font-size: 2em;
  background-color: hsl(120, 99%, 44%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.loginPrompt
{
  font-size: 2em;
  background-color: hsla(0, 97%, 45%, 0.915);
  color : white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}